 .upload-hidden {

       margin-left : 20px;
       margin-bottom: 5px;
      display:inline-block;
      font-family: 'Roboto', sans-serif;
      font-size : 20px;
        width:30%;
        height:35px;
        border:1px solid #FFFFFF;
        border-radius: 7px;
        color:#FFFFFF;
        text-align: center;
        line-height: 40px;
        float: left;
    }
    

 .submit {
        margin-top: 5px;
        font-family: 'Roboto', sans-serif;
        display:inline-block;
        width:90%;
        height:35px;
        border:1px solid #FFFFFF;
        border-radius: 7px;
        font-size:25px;
        color:#FFFFFF;
        text-align: center;
        line-height: 40px;
    }

    input[type='file']{
        display: none
    }

    input[type='submit']{
        display: none
    }
    
    html, body {
       height:100%; 
       margin:0px; 
       padding:0px; 
    }
    

    .upload-name {
            margin-left: 5px;
            border-radius: 5px;
            border:1px solid #FFFFFF;
            width: 55%;
            height : 35px;
            text-align: center;
            float: left;
    }

    .upload-name1 {
            margin-left: 5px;
            border-radius: 5px;
            border:1px solid #FFFFFF;
            width: 55%;
            height : 35px;
            text-align: center;
            float: left;
    }


   .main {
      padding-top:148px;
   }

    .wrapper{
          width:100%; 
          height:100%;
          background-image: url(qwe2.png);
          background-position:center;
    }

    
    .box {
       width:50%; 
       height:55%;
       text-align: center;
       background-color: #747474;
       border-radius: 7px;
       opacity: 0.3;
       margin: 0 auto;
       padding:45px 44px 38px 44px;
    }



    .innerBox{
        margin: 0 auto;
        overflow: hidden;
    }